{% extends "base.html" %}

{% block content %}

<h5>Summary</h5>
<p>Create a basic version of a file transfer website such as WeTransfer or Firefox Send.</p>
<p>This task is designed to allow you to showcase both frontend and backend development skills.</p>
<p>Django should be used for the backend. You may use any frontend libraries/frameworks you choose.</p>

<h5>User stories</h5>
<ul>
    <li>As a sending user I want to be able to upload one or more files and obtain a URL link which I can share with other people so they can access those files.</li>
    <li>As a receiving user I want to be able to visit a link I have received from a sending user so I can download the files.</li>
</ul>

<h5>Start to upload</h5>
You can click on the <em>Upload button</em> in the navbar or <a href="/upload">click here</a>

{% endblock %}

