{% extends "base.html" %}

{% load static %}


{% block content %}
{% if messages %}
    <h3>Thanks for uploading your files.</h3>
    <h4>Here is the link that you can share with your friends</h4>

    <div class="row">
        <input id="foo" value="{{ request.scheme }}://{{ request.get_host }}/upload/list/{{ data.link }}">
    </div>

{% else %}
    <p>No need to thank you.</p>
{% endif %}

<a href="/upload" class="waves-effect waves-light btn"><i class="material-icons left">cloud_upload</i>Upload more</a>

{% endblock %}
